# JWT
JWT_SECRET=seu-segredo-super-seguro-aqui

# Server
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:8081,http://localhost:5173

# Postgres (Neon) - connection string com sslmode=require
DATABASE_URL=postgresql://usuario:senha@ep-exemplo.sa-east-1.aws.neon.tech/neondb?sslmode=require

# Firebase (Entrega 3)
# FIREBASE_PROJECT_ID=viva-novela
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n..."
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk@viva-novela.iam.gserviceaccount.com

# Mercado Pago (Entrega 2)
# MP_ACCESS_TOKEN=APP_USR-...
# MP_WEBHOOK_SECRET=seu-webhook-secret
